/* meny */ 

#menu {
    position: fixed;
    width: 100vw; 
    height: 80px;
    top: 0; 

    background-color:white; 
    font-size: .9rem; 
    z-index: 4000;
}

#menu img {
    width: 13px;
    height: auto;
    position: relative; 
    top: 2px;
    left: 2px; 
}

ul {
    list-style: none; 
    text-decoration: none;  
} 

#menu li {
    display: inline-block; 
    padding: 22px; 
    color: black;
}

li a {
    color: black;
}

#menu li:hover {
    border-bottom: 10px solid #6b463e;
    padding-bottom: 9px;
}

button {
    background-color: #6b463e;
    width: 160px;
    height: 40px; 

    position: absolute;
    top: 25px;
    right: 100px; 
}

button:hover {
    background-color: #7f8851;
}


/* video */ 

#dog-video {
    position: relative;
    top: 400px; 
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: black;
    z-index: 1001;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;

    margin-left: -300px;
    margin-top: -180px;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    display: inline-block;
    position: absolute;
    right: 0; 
    top: 350px;

    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    background: #6b463e;
    font-size: 30px;

    line-height: 0px;
    padding: 11px 3px;   
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display: none;
  }

  @media screen and (max-width: 768px) {

    button:hover {
        background-color: #6b463e; 
    }

}
  @media screen and (max-width: 600px) {
      #menu li {
          display: none; 
      }
      #menu button{
        right: 120px; 
      }
  }